{% if site.disqus_shortname %}
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper animated fadeInUp"></div>
    <script src="https://img1.ws.126.net/f2e/tie/yun/sdk/loader.js"></script>
    <script>
        var cloudTieConfig = {
            url: document.location.href,
            sourceId: "",
            productKey: "1f37307bef014cd3a4e2c6f266dc33fe",
            target: "cloud-tie-wrapper"
        };
        var yunManualLoad = true;
        Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vbW9iaWxlL2xpdmVzY3JpcHQuaHRtbA==", true);
    </script>
{% endif %}